* {
  font-family: "Roboto", sans-serif;
}

#heroButton {
  background-color: #4262ff;
  color: #fff;
}

.bodyLink {
  color: #4262ff;
  font-size: 18px;
}

h1,
h2 {
  color: #050038;
  font-size: 48px;
  line-height: 56px;
}

#heroParagraph {
  color: #050038;
}

p {
  color: #05003899;
  font-size: 18px;
  line-height: 24px;
}

div {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

header a {
  color: #050038;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
