* {
  font-family: "Roboto", sans-serif;
}

#heroButton {
  background-color: #4262ff;
  color: #fff;
}

.bodyLink {
  color: #4262ff;
  font-size: 18px;
}

h1,
h2 {
  color: #050038;
  font-size: 48px;
  line-height: 56px;
}

#heroParagraph,
#underButtonText {
  color: #050038;
}

#underButtonText {
  font-size: 14px;
  line-height: 20px;
}

p,
.sectionList {
  color: #05003899;
  font-size: 18px;
  line-height: 24px;
}

.footerNote,
.footerNote a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

header a {
  color: #050038;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

nav ul {
  list-style: none;
}

.sectionList li::marker {
  content: url("../images/check.svg");
}
